<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Places</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
     <p>
       Logged in as {{ current_user.username }} <a href="{{ url_for('auth_logout') }}">Log out</a>
     </p>
    {% else %}
    <table>
      <tr>
        <th>
          <a href="{{ url_for('auth_login') }}">Log in </a>
        </th>
        <th>
          <a href="{{ url_for('auth_register') }}">Create new account</a>
        </th>
      </tr>
    </table>
    {% endif %}
    <ul>
      <li><a href="{{ url_for('topics_index') }}">List topics</a></li>
      <li><a href="{{ url_for('topics_form') }}">Add a topic</a></li>
    </ul>
    {% block body %}
    <p>
        Tähän tuodaan sisältö muualta.
    </p>
    {% endblock %}
    
  </body>
</html>