{% extends "layout.html" %}

{% block body %}
    {% if topics is defined and topics|length > 0 %}
    <h2>Topics</h2>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Replies</th>
            <th>@</th>
            <th>Posted</th>
            <th>Latest post</th>
        </tr>
        {% for topic in topics %}
            <tr>
                <td>
                    <a href="{{ url_for('topic_index', topic_id=topic.id) }}">{{ topic.name }}</a>
                </td>
                <td>
                    {% for reply in replies if reply['topic_id'] == topic.id %}
                        {{ reply['replies'] - 1}}
                    {% endfor %}
                </td>
                {% for place in places if place.id == topic.place_id %}
                    {% if place.name != "---" %}
                        <td>
                            {{place.name}}
                        </td>
                    {% else %}
                        <td> </td>
                    {% endif %}
                {% endfor %}
                <td>
                    {{ topic.date_created.strftime('%d.%m.%Y at %H.%M') }}
                </td>
                {% for x in latest_message if x.topic_id == topic.id %}
                    <td>
                        {% if x.date_created is string %}
                            {{ datetime.strptime(x.date_created, '%Y-%m-%d %H:%M:%S.%f').strftime('%d.%m.%Y at %H.%M')}}
                        {% else %}
                        {{ x.date_created.strftime('%d.%m.%Y at %H.%M') }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>There are no topics</p>
    {% endif %}
{% endblock %}