{% extends "layout.html" %}

{% block body %}
    {% if topics is defined and topics|length > 0 %}
    <table>
        <tr>
            <th>Title</th>
            <th>Replies</th>
            <th>@</th>
        </tr>
        {% for topic in topics %}
            {% set count = [] %}
            {% for message in messages if message.topic_id == topic.id %}
                {% set __ = count.append(1) %}
            {% endfor %}
            {% if count|length == 0 %}
                    {% set __ = count.append(1) %}
            {% endif %}        
            <tr>
                <td><a href="{{ url_for('topic_index', topic_id=topic.id) }}">{{ topic.name }}</a></td>
                <td>{{ count|length - 1 }}</td>
                {% for place in places if place.id == topic.place_id %}
                    <td>{{place.name}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>There are no topics</p>
    {% endif %}
{% endblock %}