{% extends "layout.html" %}

{% block body %}
    {% for message in messages %}
    <table>
        <tr>
            <th bgcolor="lightblue">User: {{ message.account_id }}</th>
            <th bgcolor="lightgreen">MessageID: {{ message.id}} </th>
            <th bgcolor="lightgrey">{{ message.date_created }}</th>
        </tr>        
    </table>
    <p>{{ message.content }}</p>
    {% endfor %}
    <form method="POST" action="{{ url_for('messages_create', topic_id=topic.id) }}">
        {{form.reply}}
        <input type="submit" value="Add a reply"/>
    </form>
{% endblock %}